@import './variables';

.navbar{
  width: 100%;
  top:0;
  left: 0;
  position:fixed;
  z-index: 1;
  height: 70px;
  background:$light-color;
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
  height: 100%;
  color: $tomato-color;
  margin-left: 1em;
}